/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.root-container{
    display:flex;
            flex-direction: column;
    }
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
}

.button-container {
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    margin: 10px;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.text-window {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
    background-color: #f9f9f9;
}

.btn{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
} */


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.upload-form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    margin-top: 20px;
}

.button-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    /* margin: 10px; */
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.text-window {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 20px;
    background-color: #f9f9f9;
}

.btn {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}